language: node_js
node_js:
- '7'
- '8'
- '9'
- '10'
before_script:
- npm install
deploy:
  provider: npm
  email: niklasvh@gmail.com
  api_key:
    secure: oHV9ArprTj5WOk7MP1UF7QMJ70huXw+y7xXb5wF4+V2H8Hyfa5TfE0DiOmqrube1WXTeH1FLgq54shp/sJWi47Hkg/GyeoB5NnsPhYEaJkaON9UG5blML+ODiNVsEnq/1kNBQ8e0+0JItMPLGySKyFmuZ3yflulXKS8O88mfINo=
  on:
    tags: true
    branch: master
    repo: niklasvh/base64-arraybuffer
